<div class="row">
	<div class="col-md-8">
		<h3>{{title}}</h3>
		<hr />
		<br />
		<div class="form-group">
			<label for="name">Name</label> <input [disabled]="!edit" type="text"
				class="form-control" id="name" placeholder="enter name"
				[(ngModel)]="quiz.name" name="name" #name="ngModel" required>
			<div class="alert alert-danger"
				[hidden]="!edit || name.valid || name.pristine">Name is
				required</div>
		</div>

		<div class="form-group">
			<label for="description">Description</label> <input
				[disabled]="!edit" type="text" class="form-control" id="description"
				placeholder="enter description" [(ngModel)]="quiz.description"
				name="description" #description="ngModel" required>
			<div class="alert alert-danger"
				[hidden]="!edit || description.valid || description.pristine">
				Description is required</div>
		</div>
		
		<!-- Implement form fields for Quiz Config -->

		<!-- Adding new Questions -->
		<form>
			<div class="form-group">
				<label for="name">Question {{question.id}}</label> <input [disabled]="!edit"
					type="text" class="form-control" id="text"
					placeholder="enter question" [(ngModel)]="question.text"
					name="text" #text="ngModel" required>
				<div class="btn-group btn-group-sm">
					<button class="btn btn-dark" (click)="addQuestion()" [disabled]="!edit">Add Question</button>
				</div>
				<div class="alert alert-danger"
					[hidden]="!edit || text.valid || text.pristine">Question is
					required</div>
			</div>
		</form>



		<!-- Adding new answers -->
		<form>
			<div class="form-group">
				<label for="name">Answer {{answer.id}} : Qid{{question.id}} : Correct Answer ID: {{question.correctAnswer}}</label>
				<input [disabled]="!edit" type="text" class="form-control" id="text" placeholder="enter answer" [(ngModel)]="answer.text" name="text" #text="ngModel" required>
				
				<!-- <span> <input type="checkbox" [disabled]="!edit" [(ngModel)]="question.correctAnswer" id="{{answer.id}}" name="correctAnswer"> </span> -->
				
				

				<div class="btn-group btn-group-sm">
					<button class="btn btn-dark" (click)="addAnswer()" [disabled]="!edit">Add Answer</button>
				</div>
				<div class="alert alert-danger" [hidden]="!edit || text.valid || text.pristine">Answer is required</div>
			</div>
		</form>



		<!-- Showing questions in the form -->
		 

		<ul *ngFor="let q of questions">
			<li>Q{{q.id}}{{ q.text }}
				<ul *ngFor="let a of q.answers">
					<li><input [(ngModel)]="checkboxValue" (change)="checkCorrectAnswer(a)" type="checkbox" name="checkCorrectAnswer" id="checkCorrectAnswer" checked>
				{{a.id}}{{ a.text }}</li>
				</ul>
			</li>
		</ul>

		<!-- Page buttons -->

		<form #saveQuizForm="ngForm">
			<div class="btn-group btn-group-sm">
				<button class="btn btn-dark" (click)="goBack()">Back</button>
				<button class="btn btn-dark" [disabled]="!edit" (click)="saveQuiz()"
					[disabled]="!saveQuizForm.form.valid">Save</button>
			</div>

			<div class="btn-group btn-group-sm" [hidden]="edit">
				<button class="btn btn-dark" (click)="editOnOff()">Edit</button>
			</div>

			<div class="btn-group btn-group-sm" [hidden]="!edit">
				<button class="btn btn-dark" (click)="editOnOff()">View</button>
			</div>
			<div class="btn-group btn-group-sm" >
				<button class="btn btn-dark" (click)="deleteQuiz()">Delete</button>
			</div>
		</form>
	</div>
</div>
<br />
<br />
<br />
<br />