<div>
	<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
		<div class="navbar-expand m-auto navbar-text">
			Made with <i class="fa fa-heart"></i> by <a
				href="https://twitter.com/alekscandido">aleks</a>
		</div>
	</nav>
</div>
