<h3>Add User</h3>
 <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Give User's Email"  required [(ngModel)]="user.email" name="email" #email="ngModel"/>
        <div [hidden]="email.valid || email.pristine"  class="alert alert-danger">
            Email is required
        </div>
 </div>

<div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Give User's name"  required [(ngModel)]="user.username" name="username" #username="ngModel"/>
        <div [hidden]="username.valid || username.pristine"  class="alert alert-danger">
            Email is required
        </div>
 </div>
 

<div [hidden]="submitted">
    <form #addUserForm="ngForm"> 
      <div class="btn-group btn-group-sm">
      	<button class="btn btn-dark" (click)="goBack()">Back</button>
      	<button class="btn btn-dark" (click)="addUser()" [disabled]="!addUserForm.form.valid">Add</button>
      </div>
    </form>
</div>
 
<div [hidden]="!submitted">
  <p>Submitted Successfully! -> <span class="badge badge-light">{{user.username}}  {{user.email}}</span></p>
	<div class="btn-group btn-group-sm">
    	<button class="btn btn-dark" (click)="goBack()">Back</button>
    	<button class="btn btn-dark" (click)="newUser(); addUserForm.reset()">Continue</button>
    </div>
</div>