      <div class="form-group">
        <label for="username">Name</label>
        <input type="text" class="form-control" id="username" placeholder="Give User's username" required [(ngModel)]="user.username" name="username" #name="ngModel" />
        <div [hidden]="username.valid || name.pristine" class="alert alert-danger">
            username is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="lastname">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Give User's Email"  required [(ngModel)]="user.email" name="email" #email="ngModel"/>
        <div [hidden]="email.valid || email.pristine"  class="alert alert-danger">
            Email is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="age">createdDate</label>
        <input type="number" class="form-control" id="createdDate" placeholder="Give User's Age" required [(ngModel)]="user.createdDate" name="createdDate" #age="ngModel"/>
        <div [hidden]="createdDate.valid || createdDate.pristine"  class="alert alert-danger">
            createdDate is required
        </div>
      </div>
      