<div class="row">
	<div class="col-md-8">
		<h3>Quiz</h3>
		<hr />
		<br />
		<form #editQuizForm="ngForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="name">Name</label> <input type="text"
					class="form-control" id="name" required [(ngModel)]="quiz.name"
					name="name" #name="ngModel">
				<div [hidden]="name.valid || name.pristine"
					class="alert alert-danger">Name is required</div>
			</div>
 			
			<div class="form-group">
				<label for="description">Description</label> <input type="text"
					class="form-control" id="description"
					 required [(ngModel)]="quiz.description" 
					name="description"  #description="ngModel">
				<div [hidden]="description.valid || description.pristine"
					class="alert alert-danger">Description is required</div>
			</div>
 
			<div class="form-group">
				<label for="id">Id</label> <input type="text" class="form-control"
					id="id" placeholder="enter id" [(ngModel)]="quiz.createdBy.id"
					name="id" required>
			</div>
			
			
 


			<button type="submit" class="btn btn-default">Submit</button>
		</form>

		<!--			  
			{{quiz.createdBy.id}} {{quiz.createdBy.username}}	{{quiz.createdBy.email}}
			{{quiz.createdBy.createdDate}}

		-->
	</div>
</div>