
<!-- Section Edit User  -->
<h3>{{title}}</h3>
<div class="form-group">
	<label for="firstName">Name</label> <input  [disabled]="!edit" type="text"
		class="form-control" id="firstName" placeholder="Give User's Name"
		required [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel" />
	<div [hidden]="firstName.valid || firstName.pristine"
		class="alert alert-danger">Name is required</div>
</div>

<div class="form-group">
	<label for="lastName">Last Name</label> <input [disabled]="!edit" type="text"
		class="form-control" id="lastName" placeholder="Give User's Last Name"
		required [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel" />
	<div [hidden]="lastName.valid || lastName.pristine"
		class="alert alert-danger">Last name is required</div>
</div>

<div class="form-group">
	<label for="email">Email</label> <input  [disabled]="!edit" type="text"
		class="form-control" id="email" placeholder="Give User's Email"
		required [(ngModel)]="user.email" name="email" #email="ngModel" />
	<div [hidden]="email.valid || email.pristine"
		class="alert alert-danger">Email is required</div>
</div>

<div class="form-group">
	<label for="username">Username</label> <input  [disabled]="!edit" type="text"
		class="form-control" id="username" placeholder="Give User's username"
		required [(ngModel)]="user.username" name="username"
		#username="ngModel" />
	<div [hidden]="username.valid || username.pristine"
		class="alert alert-danger">Username is required</div>
</div>

<div class="form-group">
	<label [hidden]="!edit" for="password">Password</label> <input  [hidden]="!edit" type="text"
		class="form-control" id="password" placeholder="Give User's password"
		required [(ngModel)]="user.password" name="password"
		#password="ngModel" />
	<div [hidden]="password.valid || password.pristine"
		class="alert alert-danger">Password is required</div>
</div>

<div [hidden]="submitted">
	<form #addUserForm="ngForm">
		<div class="btn-group btn-group-sm">
			<button class="btn btn-dark" [hidden]="edit" (click)="goBack()">Back</button>
			<button class="btn btn-dark" [disabled]="!edit" (click)="addUser()" [disabled]="!addUserForm.form.valid">Save</button>
			<button class="btn btn-dark" [disabled]="edit" (click)="deleteUser()">Delete</button>		
			<button class="btn btn-dark" [hidden]="edit" (click)="editOnOff()">Edit</button>			
			<button class="btn btn-dark" [hidden]="!edit" (click)="editOnOff()">View</button>
		</div>
	</form>
</div> 
<div [hidden]="!submitted">
	<p>
		<span class="badge badge-light">{{user.username}}
			{{user.email}}</span>
	</p>
	<div class="btn-group btn-group-sm">
		<button class="btn btn-dark"  (click)="goBack()">Back</button>
	</div>

</div>

<br/>
<br/>
<br/>
<br/>


<!-- Section View User  
<h3>View User</h3>
<div class="form-group">
	<label for="firstName">Name</label> <input type="text"
		class="form-control" id="firstName" placeholder="Give User's Name"
		required [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel" />
</div>

<div class="form-group">
	<label for="lastName">Last Name</label> <input type="text"
		class="form-control" id="lastName" placeholder="Give User's Last Name"
		required [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel" />
</div>

<div class="form-group">
	<label for="email">Email</label> <input disabled type="text"
		class="form-control" id="email" placeholder="Give User's Email"
		required [(ngModel)]="user.email" name="email" #email="ngModel" />

</div>

<div class="form-group">
	<label for="username">Username</label> <input disabled type="text"
		class="form-control" id="username" placeholder="Give User's name"
		required [(ngModel)]="user.username" name="username" #username="ngModel" />

</div>

<div [hidden]="submitted">
	<form #addUserForm="ngForm">
		<div class="btn-group btn-group-sm">
			<button class="btn btn-dark" (click)="goBack()">Back</button>
			<button class="btn btn-dark" (click)="addUser()"
				[disabled]="!addUserForm.form.valid">Add</button>
		</div>
	</form>
</div>

<div [hidden]="!submitted">
	<p>
		<span class="badge badge-light">{{user.username}}
			{{user.email}}</span>
	</p>
	<div class="btn-group btn-group-sm">
		<button class="btn btn-dark" (click)="goBack()">Back</button>
	</div>
</div>
-->