
<div class="row">
	<div class="col-sm-4">
		<a routerLink="users" class="btn btn-light btn-sm" role="button"
			routerLinkActive="active">Users</a> 
			
		<a routerLink="quizes" class="btn btn-light btn-sm" role="button" 
			routerLinkActive="active">Quizes</a>
			
		 <a routerLink="quizes/edit" class="btn btn-light btn-sm" role="button" 
		 	routerLinkActive="active">New Quiz</a>
		
		 <a routerLink="users/add" class="btn btn-light btn-sm" role="button"
			routerLinkActive="active">New User</a>
		
		<a routerLink="play"
			class="btn btn-light btn-sm" role="button"
			routerLinkActive="active">Play Quiz</a>
	</div>
</div>
<br/>
